*{box-sizing: border-box;}
html {scroll-behavior: smooth;}
/*------GRID SYSTEM----*/
img {width: 100%; display: block; height: 100%;}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkgray;
}
.img-container{margin: 10px;
   border: solid green; overflow: hidden;}

/*---------MEDIA QUERY-----*/
/*---------breakpoint for large screen up to 1200-----*/
@media screen and (max-width:1200px) {.grid-container{background-color: orange;
    width: 800px;
    grid-template-columns: auto auto;
}}
/*---------breakpoint for large screen up to 900-----*/
@media screen and (max-width:900px) {.grid-container{background-color: rgb(73, 227, 201);
    width: 80%;
    grid-template-columns: auto ;
    
}}

/*---------Main container -----*/
.headercontainer{background-color:chocolate;color:rgb(102, 80, 53); display: flex;
}
.headercontainer > div{
    border:rgb(142, 111, 10) solid 3px; 
    padding: 20px
}
.headercontainer > div:nth-child(3){margin-left: auto;}
/* OR {margin 0 0 0 auto} {top bottom right left}*/

/* intro container split into 3sections using GRID*/
 .introcontainer{
    display: grid;
    height: 300px;
    grid-template-columns: 20% 60% 20%;
 }
 .navmenu{background-color: burlywood;}
 .comtent {background-color: beige;}
 .blog{background-color: cornsilk;}
  
 .footer {background-color: darkcyan;
    color: aquamarine;
    display: grid;
    grid-template-columns:auto auto auto ;
    height: 100px;
}
.footer > div{border: solid rgb(174, 154, 19);}

@media screen and (max-width:900px){
    .navmenu{background-color: blueviolet;}
    content{grid-column: span 2;}
    .blog{grid-column: span 3; }
    
}
@media screen and (max-width:600px){
    .navmenu{background-color: rgb(226, 84, 167); 
        grid-column: span 3;}
    content{grid-column: span 3;background-color: crimson;}
    .blog{grid-column: span 3;background-color: lightcyan; }
    
}